head {
 background-color: #92A8D1; 
}

body {
  background-color: #CBEDFB;
}

footer {
  background-color: #89B1D2;
  width: 100%;
}

h1 {
 color: #142180;
 font-size: 30%;
 text-align: center;
}

p {
 color: #142180;
 text-align: justify;
 min-width: 300px;
 max-width: 100%;
 padding-left: 10%;
 padding-right: 10%;
}

img {
 max-width: 100%;
 min-width: 50px;
 height: auto;
}
