head {
 background-color: #92A8D1; 
}

body {
  background-color: #CBEDFB;
  margin-left: 5px;
  margine-right: 5px;
}

footer {
  background-color: #89B1D2;
  width: 100%;
  text-align: left;
}

h1 {
 color: #142180;
 text-align: center;
}

h2 {
 color: #142180;
 text-align: center;
}

p {
 color: #142180;
 text-align: justify;
 max-width: 600px;
}

#bio {
 text-align: center;
}

#MidShot {
 max-width: 100%;
 min-width: 50px;
 height: auto;
 align-content: center;
}

#certification {
  width: 500px;
  max-width: 100%;
  height: auto;
  align-content: center;
}

#bottom {
 background-color: #89B1D2;
 margin: 0px;
 padding: 0px;
}
